In [1]:
import pandas as pd
import numpy as np
import re
import os
from ddf_utils.str import to_concept_id
from ddf_utils.index import create_datapackage

In [2]:
source_t = 'source/WPP2015_INT_F03_1_POPULATION_BY_AGE_ANNUAL_BOTH_SEXES.XLS'
source_m = 'source/WPP2015_INT_F03_2_POPULATION_BY_AGE_ANNUAL_MALE.XLS'
source_f = 'source/WPP2015_INT_F03_3_POPULATION_BY_AGE_ANNUAL_FEMALE.XLS'
out_dir = '../../'

In [3]:
def read_cleanup(source, gender):
    data_est = pd.read_excel(source, sheetname='ESTIMATES', skiprows=16, na_values='…')
    data_var = pd.read_excel(source, sheetname='MEDIUM VARIANT', skiprows=16, na_values='…')

    # rename/drop some columns.
    # for 80+ and 100+ groups, rename to 80plus and 100plus
    data_est = data_est.drop(['Index', 'Notes'], axis=1)
    data_var = data_var.drop(['Index', 'Notes'], axis=1)

    data_est = data_est.rename(columns={'80+': '80plus',
                                        '100+': '100plus'})
    data_var = data_var.rename(columns={'100+': '100plus'})  # todo: no use to rename for now.

    # insert Gender column and rearrange the order
    col_est_1 = data_est.columns[:4]
    col_est_2 = data_est.columns[4:]

    col_var_1 = data_var.columns[:4]
    col_var_2 = data_var.columns[4:]

    cols_est = [*col_est_1, 'Gender', *col_est_2]
    cols_var = [*col_var_1, 'Gender', *col_var_2]

    data_est['Gender'] = gender
    data_var['Gender'] = gender

    return (data_est[cols_est], data_var[cols_var])

In [4]:
def extract_concepts(data):
    """extract concept from one of the dataframes."""
    data_ = data.rename(columns={
        'Major area, region, country or area *': 'Name',
        'Reference date (as of 1 July)': 'Year'
    })

    concept_name = list(data_.columns[:5])
    concept_name.append('Population')
    concept_name.append('Age')
    concepts = list(map(to_concept_id, concept_name))

    # now construct the dataframe
    cdf = pd.DataFrame([], columns=['concept', 'concept_type', 'name'])
    cdf['concept'] = concepts
    cdf['name'] = concept_name

    cdf['concept_type'] = 'string'

    # population
    cdf['concept_type'].iloc[5] = 'measure'

    # entity domains
    cdf['concept_type'].iloc[[2, 4, 6]] = 'entity_domain'

    # year
    cdf['concept_type'].iloc[3] = 'time'
    cdf['name'].iloc[3] = 'Reference date (as of 1 July)'

    return cdf

In [5]:
def extract_entities_country(data_est, data_var):
    """extract country entities from source.

    data_est is data from estimates tab.
    data_var is from medium variant tab.

    we assume that both tab should have same entities.
    """
    data_est.columns = list(map(to_concept_id, data_est.columns))
    data_var.columns = list(map(to_concept_id, data_var.columns))

    entity = data_est[['major_area_region_country_or_area', 'country_code']].copy()
    entity = entity.rename(columns={'major_area_region_country_or_area': 'name'})
    entity = entity.drop_duplicates()

    entity_2 = data_var[['major_area_region_country_or_area', 'country_code']].copy()
    entity_2 = entity_2.rename(columns={'major_area_region_country_or_area': 'name'})
    entity_2 = entity_2.drop_duplicates()

    if len(entity) != len(entity_2):
        print('Warning: entities not same in the excel tabs.')

        ent = pd.concat([entity, entity_2])
        return ent.drop_duplicates()

    return entity


def extract_entities_gender():
    """no more information about gender in source, just create that"""
    df = pd.DataFrame([], columns=['gender', 'name'])
    df['gender'] = ['male', 'female']
    df['name'] = ['Male', 'Female']

    return df


def extract_entities_age(data_est):
    """extract ages from estimates tab of source data."""

    df = pd.DataFrame([], columns=['age', 'name'])
    df['age'] = data_est.columns[5:]

    df['name'] = 'Age ' + df['age']
    return df


def extract_datapoints(dflist):
    """make datapoint file with all dataframe in dflist."""

    to_concat = []

    for df in dflist:
        e = df.drop(['Variant', 'Major area, region, country or area *'], axis=1)
        e = e.set_index([
            'Country code', 'Reference date (as of 1 July)', 'Gender'])
        e.columns.name = 'Age'
        df_new = e.stack().reset_index().rename(columns={0: 'Population'})
        to_concat.append(df_new)

    df_all = pd.concat(to_concat, ignore_index=True)
    df_all = df_all.rename(columns={'Reference date (as of 1 July)': 'Year'})
    df_all.columns = list(map(to_concept_id, df_all.columns))

    # make age column sort correctly by changing to categorial dtype.
    df_all['age'] = df_all['age'].astype('category', categories=list(df_all['age'].unique()), ordered=True)

    df_all = df_all.sort_values(by=['country_code', 'year', 'age', 'gender'])

    # the only duplicates are in year 2015. There are both esitmated and observed data.
    # But both are same so we can drop them.
    df_all = df_all.drop_duplicates()
    # assert not np.any(df_all.duplicated(['country_code', 'year', 'age', 'gender']))

    return df_all

In [6]:
if __name__ == '__main__':

    print('reading source data...')
    print('\tboth sexes...')
    est_t, var_t = read_cleanup(source_t, 'both_sexes')
    print('\tmale...')
    est_m, var_m = read_cleanup(source_m, 'male')
    print('\tfemale...')
    est_f, var_f = read_cleanup(source_f, 'female')

    print('creating datapoint file...')
    dflist = [est_m, var_m, est_f, var_f]
    df_mf = extract_datapoints(dflist)
    for geo, idxs in df_mf.groupby(by='country_code').groups.items():
        path = os.path.join(out_dir, 
                            'ddf--datapoints--population--by--country_code-{}--year--gender--age.csv'.format(geo))
        to_save = df_mf.ix[idxs]
        to_save = to_save.sort_values(by=['country_code', 'year'])
        to_save.ix[idxs].to_csv(path, index=False, float_format='%.15g')

    df_t = extract_datapoints([est_t, var_t])
    df_t = df_t.drop('gender', axis=1)  # we don't need gender = both sexes in datapoint
    for geo, idxs in df_t.groupby(by='country_code').groups.items():
        path = os.path.join(out_dir, 
                            'ddf--datapoints--population--by--country_code-{}--year--age.csv'.format(geo))
        to_save = df_t.ix[idxs]
        to_save = to_save.sort_values(by=['country_code', 'year'])
        to_save.ix[idxs].to_csv(path, index=False, float_format='%.15g')

    print('creating concepts files...')
    concepts = extract_concepts(est_t)
    path = os.path.join(out_dir, 'ddf--concepts.csv')
    concepts.to_csv(path, index=False)

    print('creating entities files...')
    country = extract_entities_country(est_t, var_t)
    path = os.path.join(out_dir, 'ddf--entities--country_code.csv')
    country.to_csv(path, index=False)

    gender = extract_entities_gender()
    path = os.path.join(out_dir, 'ddf--entities--gender.csv')
    gender.to_csv(path, index=False)

    age = extract_entities_age(est_t)
    path = os.path.join(out_dir, 'ddf--entities--age.csv')
    age.to_csv(path, index=False)

    print('creating index files...')
    create_datapackage(out_dir)

reading source data...
	both sexes...
	male...
	female...
creating datapoint file...

NameError: name 'out_dir' is not defined

                       concept   concept_type                           name
0                      variant         string                        Variant
1                         name         string                           Name
2                 country_code  entity_domain                   Country code
3  reference_date_as_of_1_july         string  Reference date (as of 1 July)
4                       gender  entity_domain                         Gender
5                   population        measure                     Population
6                          age  entity_domain                            Age

,Variant,"Major area, region, country or area *",Country code,Reference date (as of 1 July),Gender,0,1,2,3,4,...,91,92,93,94,95,96,97,98,99,100plus
0,Estimates,WORLD,900,1950,both_sexes,78116.685,71707.672,66449.346,62228.019,58930.171,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Estimates,WORLD,900,1951,both_sexes,81973.089,76250.302,70474.481,65672.988,61757.344,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Estimates,WORLD,900,1952,both_sexes,85085.460,79060.671,74351.359,69205.529,64859.079,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Estimates,WORLD,900,1953,both_sexes,87298.857,81532.381,76324.468,72491.108,67974.254,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Estimates,WORLD,900,1954,both_sexes,88613.869,83346.474,78486.514,74028.307,70707.145,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Estimates,WORLD,900,1955,both_sexes,89073.802,84597.955,80339.688,76310.740,72522.845,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Estimates,WORLD,900,1956,both_sexes,88381.637,87292.271,83245.950,79325.051,75551.995,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Estimates,WORLD,900,1957,both_sexes,87532.337,85311.474,85756.890,82114.467,78508.670,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Estimates,WORLD,900,1958,both_sexes,86844.894,85699.623,84085.182,84314.323,81070.277,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Estimates,WORLD,900,1959,both_sexes,86773.089,86344.658,85329.798,83802.875,82850.644,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Estimates,WORLD,900,1960,both_sexes,87774.955,87466.425,86603.098,85249.694,83470.946,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Estimates,WORLD,900,1961,both_sexes,90100.821,87307.760,86657.421,85633.556,84267.264,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Estimates,WORLD,900,1962,both_sexes,93560.477,91514.315,86767.685,85761.130,84566.267,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Estimates,WORLD,900,1963,both_sexes,97619.313,94129.363,91020.233,86209.507,84845.420,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Estimates,WORLD,900,1964,both_sexes,101549.401,96815.209,92789.355,89386.087,85718.272,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Estimates,WORLD,900,1965,both_sexes,104819.334,99354.250,94776.653,90981.981,87865.807,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Estimates,WORLD,900,1966,both_sexes,106715.128,102940.085,98081.861,93942.254,90440.746,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Estimates,WORLD,900,1967,both_sexes,108008.367,102951.923,101261.796,96986.775,93266.722,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Estimates,WORLD,900,1968,both_sexes,108820.904,104555.676,100748.438,99700.617,95999.515,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Estimates,WORLD,900,1969,both_sexes,109375.878,105971.902,102766.659,99749.524,98162.127,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Estimates,WORLD,900,1970,both_sexes,109874.264,107194.725,104515.031,101848.463,99208.391,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Estimates,WORLD,900,1971,both_sexes,110197.106,108690.188,106207.251,103702.542,101189.379,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Estimates,WORLD,900,1972,both_sexes,110551.183,108813.010,107580.819,105288.862,102954.107,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Estimates,WORLD,900,1973,both_sexes,110851.898,109401.606,107756.472,106506.163,104403.272,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Estimates,WORLD,900,1974,both_sexes,111001.503,109786.975,108386.307,106818.832,105447.862,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Estimates,WORLD,900,1975,both_sexes,110968.167,109972.221,108803.985,107476.758,106003.744,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Estimates,WORLD,900,1976,both_sexes,110548.729,110089.782,109143.383,108052.574,106822.847,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Estimates,WORLD,900,1977,both_sexes,110011.952,109463.624,109256.719,108354.532,107336.760,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Estimates,WORLD,900,1978,both_sexes,109687.082,109234.556,108675.377,108457.159,107597.016,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Estimates,WORLD,900,1979,both_sexes,110004.833,109417.230,108801.239,108144.596,107671.419,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15876,Estimates,Tonga,776,1986,both_sexes,3.056,3.093,2.929,2.784,2.658,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15877,Estimates,Tonga,776,1987,both_sexes,2.883,2.857,3.002,2.867,2.741,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15878,Estimates,Tonga,776,1988,both_sexes,2.707,2.764,2.788,2.919,2.810,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15879,Estimates,Tonga,776,1989,both_sexes,2.573,2.686,2.757,2.783,2.833,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15880,Estimates,Tonga,776,1990,both_sexes,2.514,2.641,2.723,2.763,2.767,...,0.014,0.010,0.007,0.005,0.003,0.002,0.002,0.000,0.001,0.001
15881,Estimates,Tonga,776,1991,both_sexes,2.557,2.493,2.592,2.660,2.697,...,0.016,0.011,0.009,0.006,0.004,0.003,0.001,0.002,0.000,0.001
15882,Estimates,Tonga,776,1992,both_sexes,2.675,2.676,2.464,2.536,2.589,...,0.016,0.014,0.009,0.007,0.005,0.003,0.001,0.002,0.000,0.001
15883,Estimates,Tonga,776,1993,both_sexes,2.829,2.723,2.641,2.435,2.477,...,0.018,0.013,0.010,0.007,0.006,0.003,0.003,0.001,0.000,0.001
15884,Estimates,Tonga,776,1994,both_sexes,2.959,2.768,2.627,2.524,2.410,...,0.018,0.013,0.010,0.008,0.005,0.004,0.002,0.002,0.001,0.001
15885,Estimates,Tonga,776,1995,both_sexes,3.022,2.795,2.627,2.508,2.432,...,0.017,0.013,0.010,0.006,0.006,0.002,0.003,0.001,0.001,0.001
15886,Estimates,Tonga,776,1996,both_sexes,2.967,2.945,2.754,2.609,2.500,...,0.017,0.015,0.010,0.009,0.005,0.004,0.002,0.001,0.001,0.001
15887,Estimates,Tonga,776,1997,both_sexes,2.851,2.725,2.880,2.726,2.602,...,0.017,0.014,0.012,0.009,0.007,0.004,0.002,0.001,0.001,0.001
15888,Estimates,Tonga,776,1998,both_sexes,2.705,2.680,2.650,2.822,2.704,...,0.018,0.014,0.011,0.009,0.007,0.005,0.004,0.002,0.002,0.002
15889,Estimates,Tonga,776,1999,both_sexes,2.580,2.641,2.674,2.684,2.762,...,0.018,0.014,0.011,0.008,0.007,0.005,0.003,0.003,0.002,0.002
15890,Estimates,Tonga,776,2000,both_sexes,2.519,2.625,2.690,2.723,2.723,...,0.017,0.014,0.009,0.008,0.005,0.004,0.003,0.002,0.002,0.002
15891,Estimates,Tonga,776,2001,both_sexes,2.536,2.541,2.619,2.666,2.686,...,0.020,0.015,0.012,0.007,0.007,0.004,0.003,0.003,0.001,0.002
15892,Estimates,Tonga,776,2002,both_sexes,2.608,2.678,2.557,2.609,2.637,...,0.021,0.016,0.013,0.009,0.007,0.005,0.002,0.003,0.001,0.002
15893,Estimates,Tonga,776,2003,both_sexes,2.712,2.724,2.724,2.571,2.596,...,0.022,0.017,0.013,0.009,0.008,0.005,0.004,0.002,0.001,0.002
15894,Estimates,Tonga,776,2004,both_sexes,2.812,2.770,2.729,2.694,2.587,...,0.023,0.017,0.013,0.010,0.007,0.005,0.005,0.002,0.001,0.002
15895,Estimates,Tonga,776,2005,both_sexes,2.881,2.804,2.740,2.687,2.643,...,0.021,0.017,0.013,0.009,0.006,0.005,0.003,0.003,0.001,0.002
15896,Estimates,Tonga,776,2006,both_sexes,2.907,2.836,2.769,2.711,2.662,...,0.024,0.018,0.015,0.011,0.007,0.005,0.003,0.003,0.001,0.002
15897,Estimates,Tonga,776,2007,both_sexes,2.905,2.821,2.794,2.736,2.685,...,0.026,0.020,0.015,0.012,0.009,0.006,0.004,0.002,0.001,0.002
15898,Estimates,Tonga,776,2008,both_sexes,2.880,2.815,2.761,2.754,2.705,...,0.027,0.021,0.017,0.012,0.009,0.007,0.004,0.002,0.002,0.003
15899,Estimates,Tonga,776,2009,both_sexes,2.840,2.800,2.761,2.724,2.715,...,0.028,0.020,0.017,0.013,0.009,0.006,0.005,0.003,0.001,0.003
15900,Estimates,Tonga,776,2010,both_sexes,2.794,2.773,2.752,2.727,2.702,...,0.028,0.021,0.015,0.012,0.009,0.006,0.004,0.003,0.001,0.003
15901,Estimates,Tonga,776,2011,both_sexes,2.735,2.763,2.747,2.731,2.710,...,0.030,0.024,0.018,0.013,0.010,0.007,0.004,0.003,0.002,0.003
15902,Estimates,Tonga,776,2012,both_sexes,2.670,2.686,2.733,2.723,2.712,...,0.032,0.026,0.020,0.014,0.011,0.008,0.004,0.004,0.001,0.003
15903,Estimates,Tonga,776,2013,both_sexes,2.604,2.637,2.659,2.705,2.700,...,0.032,0.026,0.021,0.016,0.012,0.008,0.006,0.004,0.001,0.003
15904,Estimates,Tonga,776,2014,both_sexes,2.549,2.590,2.622,2.646,2.679,...,0.033,0.027,0.020,0.015,0.012,0.009,0.006,0.004,0.002,0.004
15905,Estimates,Tonga,776,2015,both_sexes,2.507,2.552,2.589,2.619,2.643,...,0.037,0.025,0.020,0.014,0.010,0.008,0.006,0.004,0.002,0.004

               variant  country_code  year      gender      age  population
545618       Estimates             4  1950  both_sexes   80plus      10.557
545618       Estimates             4  1950      female   80plus       4.590
545618       Estimates             4  1950        male   80plus       5.967
545699       Estimates             4  1951  both_sexes   80plus      12.149
545699       Estimates             4  1951      female   80plus       5.298
545699       Estimates             4  1951        male   80plus       6.852
545780       Estimates             4  1952  both_sexes   80plus      13.410
545780       Estimates             4  1952      female   80plus       5.886
545780       Estimates             4  1952        male   80plus       7.524
545861       Estimates             4  1953  both_sexes   80plus      14.137
545861       Estimates             4  1953      female   80plus       6.262
545861       Estimates             4  1953        male   80plus       7.875
545942       Estimates             4  1954  both_sexes   80plus      14.132
545942       Estimates             4  1954      female   80plus       6.339
545942       Estimates             4  1954        male   80plus       7.793
546023       Estimates             4  1955  both_sexes   80plus      13.160
546023       Estimates             4  1955      female   80plus       6.024
546023       Estimates             4  1955        male   80plus       7.136
546104       Estimates             4  1956  both_sexes   80plus      14.894
546104       Estimates             4  1956      female   80plus       6.830
546104       Estimates             4  1956        male   80plus       8.063
546185       Estimates             4  1957  both_sexes   80plus      16.193
546185       Estimates             4  1957      female   80plus       7.444
546185       Estimates             4  1957        male   80plus       8.748
546266       Estimates             4  1958  both_sexes   80plus      16.890
546266       Estimates             4  1958      female   80plus       7.801
546266       Estimates             4  1958        male   80plus       9.089
546347       Estimates             4  1959  both_sexes   80plus      16.823
546347       Estimates             4  1959      female   80plus       7.843
546347       Estimates             4  1959        male   80plus       8.980
...                ...           ...   ...         ...      ...         ...
807788  Medium variant          5501  2100  both_sexes       91    9091.136
807788  Medium variant          5501  2100      female       91    4760.712
807788  Medium variant          5501  2100        male       91    4330.424
807789  Medium variant          5501  2100  both_sexes       92    7931.000
807789  Medium variant          5501  2100      female       92    4183.476
807789  Medium variant          5501  2100        male       92    3747.524
807790  Medium variant          5501  2100  both_sexes       93    6827.360
807790  Medium variant          5501  2100      female       93    3626.443
807790  Medium variant          5501  2100        male       93    3200.917
807791  Medium variant          5501  2100  both_sexes       94    5787.203
807791  Medium variant          5501  2100      female       94    3095.273
807791  Medium variant          5501  2100        male       94    2691.930
807792  Medium variant          5501  2100  both_sexes       95    4799.932
807792  Medium variant          5501  2100      female       95    2588.994
807792  Medium variant          5501  2100        male       95    2210.938
807793  Medium variant          5501  2100  both_sexes       96    3860.368
807793  Medium variant          5501  2100      female       96    2104.590
807793  Medium variant          5501  2100        male       96    1755.778
807794  Medium variant          5501  2100  both_sexes       97    3052.638
807794  Medium variant          5501  2100      female       97    1684.960
807794  Medium variant          5501  2100        male       97    1367.678
807795  Medium variant          5501  2100  both_sexes       98    2415.309
807795  Medium variant          5501  2100      female       98    1350.392
807795  Medium variant          5501  2100        male       98    1064.917
807796  Medium variant          5501  2100  both_sexes       99    1912.559
807796  Medium variant          5501  2100      female       99    1082.907
807796  Medium variant          5501  2100        male       99     829.652
807797  Medium variant          5501  2100  both_sexes  100plus    4662.247
807797  Medium variant          5501  2100      female  100plus    2756.919
807797  Medium variant          5501  2100        male  100plus    1905.328

[1729416 rows x 6 columns]

545538    False
545538    False
545538    False
545539    False
545539    False
545539    False
545540    False
545540    False
545540    False
545541    False
545541    False
545541    False
545542    False
545542    False
545542    False
545543    False
545543    False
545543    False
545544    False
545544    False
545544    False
545545    False
545545    False
545545    False
545546    False
545546    False
545546    False
545547    False
545547    False
545547    False
          ...
807788     True
807788     True
807788     True
807789     True
807789     True
807789     True
807790     True
807790     True
807790     True
807791     True
807791     True
807791     True
807792     True
807792     True
807792     True
807793     True
807793     True
807793     True
807794     True
807794     True
807794     True
807795     True
807795     True
807795     True
807796     True
807796     True
807796     True
807797     True
807797     True
807797     True
Name: age, dtype: bool

array(['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23',
       '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34',
       '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45',
       '46', '47', '48', '49', '50', '51', '52', '53', '54', '55', '56',
       '57', '58', '59', '60', '61', '62', '63', '64', '65', '66', '67',
       '68', '69', '70', '71', '72', '73', '74', '75', '76', '77', '78',
       '79', '80plus', '80', '81', '82', '83', '84', '85', '86', '87',
       '88', '89', '90', '91', '92', '93', '94', '95', '96', '97', '98',
       '99', '100plus'], dtype=object)

Index(['0', '1', '10', '100plus', '11', '12', '13', '14', '15', '16',
       ...
       '90', '91', '92', '93', '94', '95', '96', '97', '98', '99'],
      dtype='object', length=102)

Index(['Variant', 'Major area, region, country or area *', 'Country code',
       'Reference date (as of 1 July)', 'Gender'],
      dtype='object')

In [78]:
conc_df['concept_type'] = 'string'

conc_df['concept_type'].iloc[[2, 4, 5]] = 'entity_domain'

conc_df['concept_type'].iloc[3] = 'time'

conc_df['concept_type'].iloc[6] = 'measure'

        concept   concept_type                           name
0       variant         string                        Variant
1          name         string                           Name
2  country_code  entity_domain                   Country code
3          year           time  Reference date (as of 1 July)
4        gender  entity_domain                         Gender
5           age  entity_domain                            age
6    population        measure                     Population

[0, 1, 2, 3, 4, ..., 96, 97, 98, 99, 100plus]
Length: 102
Categories (102, object): [0 < 1 < 2 < 3 ... 97 < 98 < 99 < 100plus]

         age name
0          0  NaN
1          1  NaN
2          2  NaN
3          3  NaN
4          4  NaN
5          5  NaN
6          6  NaN
7          7  NaN
8          8  NaN
9          9  NaN
10        10  NaN
11        11  NaN
12        12  NaN
13        13  NaN
14        14  NaN
15        15  NaN
16        16  NaN
17        17  NaN
18        18  NaN
19        19  NaN
20        20  NaN
21        21  NaN
22        22  NaN
23        23  NaN
24        24  NaN
25        25  NaN
26        26  NaN
27        27  NaN
28        28  NaN
29        29  NaN
..       ...  ...
72        72  NaN
73        73  NaN
74        74  NaN
75        75  NaN
76        76  NaN
77        77  NaN
78        78  NaN
79        79  NaN
80    80plus  NaN
81        80  NaN
82        81  NaN
83        82  NaN
84        83  NaN
85        84  NaN
86        85  NaN
87        86  NaN
88        87  NaN
89        88  NaN
90        89  NaN
91        90  NaN
92        91  NaN
93        92  NaN
94        93  NaN
95        94  NaN
96        95  NaN
97        96  NaN
98        97  NaN
99        98  NaN
100       99  NaN
101  100plus  NaN

[102 rows x 2 columns]

TypeError: Categorical cannot perform the operation +

NameError: name 'data_est' is not defined

NameError: name 'data_est' is not defined

NameError: name 'data_var' is not defined

True

,variant,major_area_region_country_or_area,country_code,year,total_population_aged_0_number,total_population_aged_1_number,total_population_aged_2_number,total_population_aged_3_number,total_population_aged_4_number,total_population_aged_5_number,...,total_population_aged_91_number,total_population_aged_92_number,total_population_aged_93_number,total_population_aged_94_number,total_population_aged_95_number,total_population_aged_96_number,total_population_aged_97_number,total_population_aged_98_number,total_population_aged_99_number,total_population_aged_100_number
0,Estimates,WORLD,900,1950,78116.685,71707.672,66449.346,62228.019,58930.171,56442.125,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Estimates,WORLD,900,1951,81973.089,76250.302,70474.481,65672.988,61757.344,58639.277,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Estimates,WORLD,900,1952,85085.460,79060.671,74351.359,69205.529,64859.079,61248.694,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Estimates,WORLD,900,1953,87298.857,81532.381,76324.468,72491.108,67974.254,64081.777,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Estimates,WORLD,900,1954,88613.869,83346.474,78486.514,74028.307,70707.145,66815.402,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,name,concept,concept_type,unit
0,Variant,variant,string,NaN
0,unit,Unit,string,NaN
1,name,Name,string,NaN
1,"Major area, region, country or area *",major_area_region_country_or_area,string,NaN
2,Country code,country_code,entity_domain,NaN
3,Reference date (as of 1 July),year,time,NaN
4,Total Population aged 0 (Number),total_population_aged_0_number,measure,thousands
5,Total Population aged 1 (Number),total_population_aged_1_number,measure,thousands
6,Total Population aged 2 (Number),total_population_aged_2_number,measure,thousands
7,Total Population aged 3 (Number),total_population_aged_3_number,measure,thousands
8,Total Population aged 4 (Number),total_population_aged_4_number,measure,thousands
9,Total Population aged 5 (Number),total_population_aged_5_number,measure,thousands
10,Total Population aged 6 (Number),total_population_aged_6_number,measure,thousands
11,Total Population aged 7 (Number),total_population_aged_7_number,measure,thousands
12,Total Population aged 8 (Number),total_population_aged_8_number,measure,thousands
13,Total Population aged 9 (Number),total_population_aged_9_number,measure,thousands
14,Total Population aged 10 (Number),total_population_aged_10_number,measure,thousands
15,Total Population aged 11 (Number),total_population_aged_11_number,measure,thousands
16,Total Population aged 12 (Number),total_population_aged_12_number,measure,thousands
17,Total Population aged 13 (Number),total_population_aged_13_number,measure,thousands

241

241

,key,value,file
0,concept,concept_type,ddf--concepts.csv
1,concept,name,ddf--concepts.csv
0,"country_code,year,gender,age",population,ddf--datapoints--population--by--country_code-...
0,age,name,ddf--entities--age.csv
0,country_code,name,ddf--entities--country_code.csv
0,gender,name,ddf--entities--gender.csv